* {
    margin: 0px;
    padding: 0px;
}


.raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;

    font-style: normal;
}

/* common style  */
.display-flex {
    display: flex;
}

.orange {
    color: orange;
}

.sky_blue {
    color: rgb(1, 172, 253);
}

.color-3 {
    color: rgb(5, 212, 223);
}

.color-4 {
    color: rgb(93, 88, 239);
}

.color-5 {
    color: black;
}


:root {
    --width: 1200px;
}


.btn {
    font: size 1.25rem;
    ;
    font-weight: 600;
    width: 197px;
    height: 50px;
    color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width);
    margin-top: 32px;
}

.brand {
    align-items: center;
}

.brand-title {
    font-size: 2rem;
    margin-left: 10px;
}

.nav-items {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-items>li {
    list-style: none;
    margin: 0rem 32px;
}

.nav-items>li>a {
    text-decoration: none;
}

.first-nav-list {
    font-weight: 700;
}


.nav-btn {
    background-color: orange;
}

.hambars {
    display: none;
}


/* banner section style  */
.banner {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
    margin-top: 20px;
}

.banner-title {
    font-size: 3.5rem;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 24px 0px;
}

.banner-description-nav {
    width: 100%;
    max-width: 640px;


}

.banner-btn {
    background-color: black;
    border: none;
    font-size: 1rem;
}



/* Curriculum */


.curriculum {
    background-image: url(assets/bg.png);
    height: auto;
    margin-bottom: 50px;
}

.card-container {
    max-width: var(--width);
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.title {
    font-size: 2.8rem;
    text-align: center;
    margin: 60px 0px 80px;
}

.card {
    padding: 50px 0px 55px;
    width: 365px;
    text-align: center;
    border-radius: 18px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.kinder {
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.elementary {
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.middle {
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}





.card-title {
    font-size: 1.5rem;
    margin: 32px 0px;

}

.card-desciption {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(128, 128, 128);
    line-height: 1.7rem;
    margin-bottom: 35px;
}


.card-btn1 {
    font-size: 0.9rem;
    color: rgb(100, 200, 255);
}

.card-btn2 {
    font-size: 0.9rem;
    color: rgb(240, 170, 0);
}

.card-btn3 {
    font-size: 0.9rem;
    color: rgb(135, 0, 255);
}


/* arrow-btn style  */

.arrow-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(254, 163, 1);
    color: white;
}



/* stories  */
.stories {
    padding-bottom: 60px;
    background-image: url(assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3)100%);

}

.stories-card-container {
    max-width: var(--width);
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    gap: 50px;
}

.card-subtitle-l {
    font-size: 1.5rem;
    line-height: 38px;
    margin-top: 23px;
    padding-bottom: 30px;
}

.stories-description {
    padding-bottom: 35px;
}

.stories-card-l {
    background-color: white;
    border-radius: 16px;
}

.stories-btnr {
    background-color: rgb(60, 216, 232);
}



/* stories-right  */
.stories-card {
    background-color: white;
    border-radius: 16px;
    max-width: 291px;
    width: 100%;
}

.stories-img-r {
    width: 100%;
}

.stories-card-container-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
}

.stories-img {
    border-radius: 16px 16px 0 0;
    margin-bottom: -25px;
}



.card-details {
    margin: 0px 37px;
}

.stories-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 47px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.stories-btn1 {
    background-color: rgb(149, 178, 38);
}

.stories-btn2 {
    background-color: rgb(93, 88, 240);
}

.card-subtitle {
    line-height: 28.76px;
    margin-top: 23px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
}

.stories-btn-view {
    margin: 0 auto;
    margin-top: 85px;
}



/* footer section  */

.marquee-section {
    font-size: 2rem;
    display: flex;
    align-items: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color:white;
    font-weight: bold;
    background-color: rgb(149, 178, 38);
}

.footer-section {
    background-color: rgb(1, 172, 253);
    color: white;
    width: 100%;
}

.footer-items {
    width: 100%;
    max-width: var(--width);
    justify-content: space-between;
    padding-top: 123px;
    padding-bottom: 170px;
    margin: 0 auto;
}

.education {
    font-size: 2.6rem;
    line-height: 40px;
}

.education-description {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 35px;
    width: 399.02px;
}

.school {
    font-size: 1.5rem;
    font-weight: 700;
}

.about>ul>li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
}

.touch {
    font-size: 1.7rem;
    margin-bottom: 32px;
}






/* responsive for small devise  */
@media screen and (max-width: 576px) {
    .margin {
        margin: 0 0rem;
    }

    .nav-container {
        margin-top: 19px;
        width: calc(100% - 29px);

    }

    .border-b {
        border-bottom: 0.5px solid rgb(254, 163, 1);
        margin-top: 12px;

    }

    .nav-items,
    .nav-btn {
        display: none;
    }

    .hambars {
        display: block;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px 20px;
    }

    .banner-title {
        font-size: 2rem;
        margin-top: 20px;
    }

    .banner-img {
        width: calc(100% - 20px);
    }

    .banner-right {
        display: flex;
        justify-content: center;
    }



    /* card  */
    .card-container {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    /* arrow-btn-container */

    .arrow-btn-container {
        display: none;
    }

    /* stories */
    .stories-card-l {
        display: none;
    }

    .stories-card {
        background-color: white;
        border-radius: 16px;
        width: 170px;
    }

    .stories-card-container-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .stories-img {
        border-radius: 16px 16px 0 0;
        margin-bottom: -20px;
        width: 100%;
    }

    .card-details {
        margin: 0px 20px;
    }

    .card-subtitle {
        font-size: 9.13px;
        font-weight: 700;
        line-height: 17.12px;
        margin-top: 10px;
        padding-bottom: 18px;
    }

    .stories-btn {
        padding: 10px 18px;
        border: none;
        border-radius: 47px;
        color: white;
        font-size: 0.5rem;
        font-weight: 500;
    }

    .stories-btn-view {
        margin: 0 auto;
        margin-top: 30px;
    }

    /* footer  */
    .footer-items {
        flex-direction: column;
        gap: 60px;
        padding: 60px 25px;
        width: calc(100% - 50px);
    }

    .education-description {
        width: 100%;
        max-height: 350px;
    }

}




/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .margin {
        margin: 0 0rem;
    }

    .nav-items,
    .nav-btn {
        display: none;
    }

    .hambars {
        display: block;

    }

    .nav-container {
        margin-top: 39px;
        width: calc(100% - 39px);
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px 20px;
    }

    .banner-title {
        margin-top: 20px;
    }


    /* card  */
    .card-container {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    /* arrow-btn-container */
    .arrow-btn-container {
        display: none;
    }

    /* stories */
    .stories-card-l {
        display: none;
    }

    .stories-card-container-right {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    /* footer  */

    .footer-items {
        flex-direction: column;
        gap: 60px;
        padding: 60px 15px;
        width: calc(100% - 30px);
        align-items: center;
        text-align: center;

    }
}


@media screen and (min-width: 992px) and (max-width:1200px) {

    .stories-card-container {
        gap: 20px;
    }

    .stories-card {
        background-color: white;
        border-radius: 16px;
        width: 280px;
    }

    .stories-img-r {
        max-width: 280px;
        width: 100%;
    }

    .stories-card-l {
        width: 400px;
    }

    .stories-img-l {
        width: 400px;
    }

}